<section id="banner">
  <div class="container-banner">
    {% if collection.image %}
    	{% assign image = collection.image %}
    {% else %}
    {% for product in collection.products limit:1 %}
    	{% assign image = product.featured_image %}
    {% endfor %}    
    {% endif %}
    <div class="banner-content" style="background:url({{ image | img_url: '2000x250', crop:'center', format:'pjpg' }}) no-repeat center">
      <div class="banner-content--relative">
        <div class="inner-content">
        <h1 class="text-center lighter">{{ collection.title }}</h1>          
        </div>
      </div>
    </div>
  </div>
</section>

<nav id="stickyMenu">
<section id="collections_nav">
  {% section 'menu_collections' %}
</section>

<section id="delivery_nav">
  {% section 'menu_livraison' %}
</section>
  
<div id="mobileMenuToggle" class="hidden-md hidden-lg">
	{% section 'menu_livraison_mobile_button' %}
</div>  
</nav>


{% comment %}Retrieving image src to display if this collection is called for located display{% endcomment %}
 {% unless collection.image == blank %}
 {% assign collection_image_src = collection.image | img_url: '150x150', format:'pjpg', crop:'center' %}
 {% else %}
 {% assign collection_image_src = 'icon-toque.png' | asset_img_url: '150x150', crop:'center' %}
 {% endunless %}

{% comment %}Retrieving first vendor{% endcomment %}
{% for vendor in collection.all_vendors %}
{% assign currVendor = vendor %}
{% break %}
{% endfor %}

{% comment %}Retrieving first type{% endcomment %}
{% for type in collection.all_types %}
{% assign currType = type %}
{% break %}
{% endfor %}

<div id="locatedCollections">
  {% section 'collection_classic' %}
</div>

<div class="loading center-block text-center"></div>