<section id="banner">
  {% section 'page_banner_mode_emploi' %}
</section>

<nav id="stickyMenu">
<section id="collections_nav">
  {% section 'menu_collections' %}
</section>

<section id="delivery_nav">
  {% section 'menu_livraison' %}
</section>
  
<div id="mobileMenuToggle" class="hidden-md hidden-lg">
	{% section 'menu_livraison_mobile_button' %}
</div>  
</nav>

<section id="page">
  <div class="container page-container">
    {% section 'page_mode_emploi' %}
    {% unless page.content == blank %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-container--content rte text-justify">
          {{ page.content }}
        </div>
      </div>
    </div>
    {% endunless %}
  </div>
</section>