<section id="banner">
  {% section 'page_banner_devis' %}
</section>

<nav id="stickyMenu">
<section id="collections_nav">
  {% section 'menu_collections' %}
</section>

<section id="delivery_nav">
  {% section 'menu_livraison' %}
</section>
  
<div id="mobileMenuToggle" class="hidden-md hidden-lg">
	{% section 'menu_livraison_mobile_button' %}
</div>  
</nav>

<section id="page">
  {% section 'page_devis_form' %}
  
  {% unless page.content == blank %}
  <!--<div class="container page-container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-container--content rte text-justify">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>-->
  {% endunless %}
</section>