<div class="register-window container-fluid" id="register_display">
<div class="close">
  <span aria-hidden="true">&times;</span>
</div>
  
<div class="row">
    <div class="col-xs-12">
        <p class="loader text-center hide-content">
            <img src="{{ 'ajax-loader.gif' | asset_url }}" width="16" height="16" class=""/>            
        </p> 
      <br/>
    </div>
</div>  
  
  <div class="register-container">
    <div class="register-content">
      <div class="row greyed-row" id="registerHeader">
        <div class="col-xs-12">
          <h3 class="text-center cart-title text-uppercase">{{ 'cart.register_form_title' | t }}</h3>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        {% include 'account_register_form' with 'cart_funnel' %}
        </div>
      </div>
    </div>
</div>
</div>