{% assign unfiltered = true %}
{% if current_tags.first %}
{% assign unfiltered = false %}
{% endif %}

{% if unfiltered %}
{% unless section.blocks.size < 1 %}
{% if section.settings.enable %}
<div class="container page-container blog-container">
    {% unless section.settings.title == blank %}
    <div class="row">
      <div class="col-md-12">
        <h2 class="upgraded summary-title">{{ section.settings.title }}</h2>
      </div>
    </div>
    {% endunless %}
    <div class="row">       
    {% for block in section.blocks %}  
    {% assign article = articles[block.settings.featured_article] %}
  	{% if forloop.first %}
      <div class="col-md-6">
		{% include 'global_article_block' %}
      </div>
    {% else %}
      {% if forloop.index == 2 %}
      <div class="col-md-6">
      {% endif %}
      {% if forloop.index == 2 or forloop.index == 4 %}
      <div class="row">
      {% endif %}
        <div class="col-md-6">
          {% include 'global_article_block' %}
        </div>
      {% if forloop.index == 3 or forloop.last %}
      </div>
      {% endif %}
      {% if forloop.last %}
      </div>
      {% endif %}
    {% endif %}
    {% endfor %}
    </div>
</div> 
{% endif %}
{% endunless %}
{% endif %}

{% schema %}
  {
    "name": "Articles à la une",
    "max_blocks": 5,
    "settings": [
      {
      "type": "checkbox",
      "id": "enable",
      "label": "Afficher cette section",
      "default": true
      },
      {
      "type": "text",
      "id": "title",
      "label": "Titre de la section",
      "info": "Laisser vide pour ne pas afficher",
      "default": "A la une"
      }
    ],
    "blocks": [
      {
        "type": "article",
        "name": "Article de blog",
        "settings": [
          {
             "type": "article",
             "id": "featured_article",
             "label": "Article à mettre en une"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
